{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'article.index.title'|trans|parse_icons|striptags }} - {{ parent() }}{% endblock %}

{% block page_content %}

{% embed 'decorator/_card.html.twig' with {'header_class' : 'bg-primary text-light'} %}
{% block header %}
    {{ 'article.index.title'|trans|parse_icons }}
{% endblock %}

{% block body %}
<a class="float-right btn btn-success" href="{{ path('admin_article_new') }}"><i class="fa fa-plus"></i> Ajouter un article</a>
{% endblock %}

{% block table %}
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>{{ 'article.title'|trans }}</th>
                <th>{{ 'article.categories'|trans }}</th>
                <th>{{ 'date.create'|trans }}</th>
                <th>{{ 'date.update'|trans }}</th>
                <th>{{ 'article.author'|trans }}</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if not entity.publish %}class="table-danger"{% endif %}>
                <td>{{ entity.title }}</td>
                <td>
                    {% for category in entity.categories %}
                    <span class="badge badge-info mr-1">{{ category }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if entity.dateCreate.timestamp > 0 %}
                    {{ entity.dateCreate|date('d/m/Y H:i') }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if entity.dateUpdate is not empty and entity.dateUpdate.timestamp > 0 %}
                    {{ entity.dateUpdate|date('d/m/Y H:i') }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {{ entity.user }}
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary" href="{{ path('admin_article_edit', {'id': entity.id }) }}"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-danger" href="{{ path('admin_article_delete', {'id': entity.id }) }}"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{# Footer #}
{% block footer %}
<div class="float-left">
    {{ 'article.index.count'|transchoice(entities|length, {'%count%': entities|length}) }}
</div>

<div class="float-right">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for p in 1..nbPages %} {# for(i=1; i<nbPages; i++) #}
        <li class="page-item {% if p == page %}active{% endif %}"><a class="page-link" href="{{ path('admin_article_index', {'page': p}) }}">{{ p }}</a></li>
        {% endfor %}
    </ul>
    </nav>
</div>
{% endblock %}

{% endembed %}

{% endblock %}